* {
  box-sizing: border-box;
}
body {
  background-color: #f2f6f2;
}
.container {
  width: 80%;
}

.btn {
  border: none;
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-add {
  background: #194064;
  color: white;
}

.addContainer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addContainer form {
  width: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.addContainer form label {
  font-size: 18px;
}
.addContainer form input {
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.addContainer form button {
  background-color: royalblue;
  color: white;
  font-weight: 500;
  margin-top: 20px;
}
.addContainer form .close-btn {
  margin-left: auto;
  font-size: 18px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #000;
  cursor: pointer;
}

.tableContainer {
  margin-top: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: fit-content;
}
table {
  border: none !important;
  margin: 0 !important;
}
.tableContainer table thead tr,
.tableContainer table tbody tr {
  background-color: #f0eaea;
  max-width: fit-content;
}
.tableContainer table thead tr th,
.tableContainer table tbody tr td {
  min-width: 100px;
  padding: 7px;
  text-align: center;
  border: 0.5px solid rgb(192, 8, 8);
  /* border-right: #194064; */
}
.tableContainer table tbody tr {
  border: 1px solid #c9c5c25e;
}
.tableContainer table tbody tr td {
  border-bottom: 1px solid #c9c5c2;
}
.btn-edit,
.btn-delete {
  font-size: 16px;
  padding: 5px 10px;
  margin: 0px 10px;
}
.btn-edit {
  background-color: #e2f413;
}
.btn-delete {
  background-color: #fa1717;
  color: white;
}
.header {
  width: 100%;
  height: 65px;
  background-color: rgb(169, 24, 24);
}
.header .container .logo {
  background-color: rgb(31, 193, 9);
  max-width: 134px;
  height: 45px;
}
.logo img {
  width: 100%;
  height: 65px;-*
}
3/